@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@layer base {
    html {
      font-family: "Roboto",'system-ui', 'sans-serif';
    }
} 

