.my-element-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .my-element-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .my-element-exit {
    opacity: 1;
  }
  .my-element-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  nav {
      transition: all 1s ease out
  }
  