.box {
                    width: 100px;
                    height: 100px;
                    background-color: red;
                    transition: width 2s, height 4s;

}

.box:hover{
    width: 300px;
    height: 300px;

}